<div class= 'container-fluid text-center'>
  <h1>Connexion</h1>
</div>

<%= form_with url:sessions_path do |form|%>
  <div class= 'container justify-content-center'>
    <div class="mb-3">
      <%= form.label :email %>
      <%= form.text_field :email, class: 'form-control' %>
    </div>
    <div class="mb-3">
      <%= form.label :password %>
      <%= form.password_field :password, class: 'form-control' %>
    </div>
    <div class="container-fluid d-flex justify-content-center">
      <%= form.submit "Se connecter", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>



