<h2>Gossip n° <%= params[:id].to_i %></h2>
<p><%= Gossip.find(params[:id]).title %></p>
<p><%= Gossip.find(params[:id]).content %></p>
<p><%= Gossip.find(params[:id]).created_at %></p>
<p><%= User.find(@find_by_user_id).first_name %> <%= User.find(@find_by_user_id).last_name %></p>

<a href="/author/<%= @find_by_user_id %>">Author: <%= User.find(@find_by_user_id).last_name %></a><br>
