<h2>Gossip n° <%= params[:id].to_i %></h2>
<p><%= Gossip.find(params[:id]).title %></p>
<p><%= Gossip.find(params[:id]).content %></p>
<p><%= Gossip.find(params[:id]).created_at %></p>
<%
=begin%>
 <p><%= User.find(@find_by_user_id).first_name %> <%= User.find(@find_by_user_id).last_name %></p> 
<%
=end%>

<p>Auteur : <a href="/author/<%= @find_by_user_id %>"><%= User.find(@find_by_user_id).first_name %></a><p>
<%= link_to "Author", @author %>
