<div class="container-raw">
  <% @gossips.each do |gossip, id| %>
<div class="cards-raw">
  <p class="title-raw">Gossip n°<%= gossip.id %></p>
  <p><strong>Titre</strong> : <%= gossip.title %></p>
  <p><strong>Auteur</strong> : <%= User.find(gossip.user_id).first_name %></p>
  <a href="/gossips/<%=gossip.id%>">Voir le potin</a>
    <%
=begin%>
 <a href="<%= gossip_path(gossip.id)%>" class="btn btn-danger" data-confirm= "sur?" data-method="DELETE">Supprimer</a> 
<%
=end%>
</div>
  <% end %>
</div>