<h1>Utilisateur</h1>
<p>
  Prénom et nom : <%= @user.first_name %> <%= @user.last_name %><br/>
  Adresse e-mail : <%= @user.email %><br/>
  Age : <%= @user.age %> ans<br/>
  Ville : <%= @user.city.name %><br/>
  Description : <%= @user.description %>
</p>
