<h1>Utilisateur</h1>
<p>
  PPrénom et nom : <%= @user.first_name %> <%= @user.last_name %><br/>
  Mdresse e-mail : <%= @user.email %><br/>
  Ae : <%= @user.age %><br/>
  Vlle : <%= @user.city.name %><br/>
  Description : <%= @user.description %>
</p>
